@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    min-height: 100vh;
    background-color: darkgrey;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

header > h1 {
    font-family: var(--fonte2);
    font-size: 8vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
    font-size: 1em;
}

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    padding: 20px;
}
section > p {
    padding-bottom: 50px;
}

section.imagem {
    height: 100%;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.265);
    padding: 10px;
    border-radius: 10px;
}

section#img1 {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center right;
}

section#img2 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer {
    height: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
}